{% if custom_html %}
{{ custom_html|safe }}
{% else %}
<!DOCTYPE html>
  <html>
    <head>
      <title>Duo Authentication Prompt</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" type="text/css" href={{ static_url("components/duo/css/Duo-Frame.css") }}>
    </head>
    <body>
      <h1>Duo Authentication Prompt</h1>
      <script src="{{static_url("components/duo/js/Duo-Web-v2.js") }}"></script>
      <iframe id="duo_iframe"
              title="Two-Factor Authentication"
              frameborder="0"
              data-host={{ host }}
              data-sig-request={{ sig_request }}>
       </iframe>
       <form method="POST" id="duo_form">
       {{ custom_fields|safe }}
       </form>
    </body>
  </html>
{% endif %}
